<div id="comments">
    <h2><i class="fas fa-comment-alt"></i> 评论</h2>
    <div id="vcomments"></div>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>

    <script type="text/javascript">
        new Valine({
            el: '#vcomments',
            appId: 'ob1W3bjJDuJwv91GUnbn9dbj-gzGzoHsz',
            appKey: 'MnzejwS140ejb1QKcpbfCXVr',
            notify: false,
            verify: false,
            avatar: 'mp',
            placeholder: '说点什么吧...',
            visitor: false
        });
    </script>
</div>
